body {
    background: black;
    color: white;
    text-align: center;
    font-family: Arial;
}

#menu button {
    margin: 5px;
    padding: 8px 15px;
}

#game {
    position: relative;
    width: 1000px;
    height: 300px;
    margin: auto;
    background: #111;
    overflow: hidden;
    border: 3px solid white;
}

#ground {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    background: #222;
}

#player {
    position: absolute;
    width: 40px;
    height: 40px;
    background: cyan;
    left: 150px;
    bottom: 40px;
}

.block {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #444;
}

.spike {
    position: absolute;
    width: 40px;
    height: 40px;
    background: red;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.portal {
    position: absolute;
    width: 30px;
    height: 80px;
    background: purple;
}
